<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Koden.Utils" version="1.1.7269.38429" targetFramework="net461" />
  <package id="KryptonExtendedToolkit5480KryptonOutlookGridModule" version="5.480.637" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="Quamotion.DiscUtils.Core" version="0.15.4" targetFramework="net48" />
  <package id="Quamotion.DiscUtils.SquashFs" version="0.15.4" targetFramework="net48" />
  <package id="Quamotion.DiscUtils.Streams" version="0.15.4" targetFramework="net48" />
</packages>